<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.1.31:3306/app</property>
        <property name="connection.username">app_ld</property>
        <property name="connection.password">Vaz3525air</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>

		<!-- Pool 
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">20</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="temp.use_jdbc_metadata_defaults">false</property>-->
		
		<!-- Cache -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>  
		<property name="hibernate.cache.use_second_level_cache">true</property>  
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>

		<!-- Tabla de catalogo -->
        <mapping class="es.manuelvv.figuras.model.Pais"/>
        <mapping class="es.manuelvv.figuras.model.TipoDocumento"/>
        <mapping class="es.manuelvv.figuras.model.TipoDomicilio"/>
        <mapping class="es.manuelvv.figuras.model.Estado"/>
        
        <!-- Tabla de figuras -->
        <mapping class="es.manuelvv.figuras.model.Domicilio"/>  
        <mapping class="es.manuelvv.figuras.model.Telefono"/> 
        <mapping class="es.manuelvv.figuras.model.Persona"/> 
        <mapping class="es.manuelvv.figuras.model.Usuario"/> 
        
    </session-factory>

</hibernate-configuration>